.style_layout{
    width: 6.4rem;
    min-height: 2rem;
}
.style_logo{
    width: 100%;
    margin: auto;
    text-align: center;
    background-color: #f3f3f3;
    position: fixed;
    top: 0;
}
.style_logo img{
    width: 2.1rem;
}
.style_search{
    width: 100%;
    height: 0.5rem;
    background-color: #fff;
    position: fixed;
    top: 0.4rem;
}
.style_search input{
    width: 6.1rem;
    height: 0.3rem;
    float: left;
    border: 1px solid #f3f3f3;
    color: #a9a9a9;
    font-size: 0.08rem;
    margin-top: 0.1rem;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}
.style_search .search{
    width: 0.3rem;
    height: 0.3rem;
    margin-top: 0.1rem;
    background-color: #f3f3f3;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    float: left;
    position: relative;
}
.style_search .search img{
    width: 0.16rem;
    height: 0.16rem;
    position: absolute;
    top: 25%;
    left: 21%;
}
.style_banner{
    background-color: #eee;
    margin-top: 1rem
}
.style_banner img{
    width: 100%;
}
.style_new{
    background-color: #fff;
    height: 5.5rem;
}
.style_new h2{
    text-align: center;
    margin-top: 15px;
}
.style_new .d1{
    width: 2.1rem;
    height: 4rem;
    text-align: center;
    float: left;
}
.style_new img{
    width: 2rem;
    height: 3rem;
}
.style_new .d2{
    text-align: center;
    clear: both;
    margin-top: 4.2rem;
}
.style_new .s2{
    padding: 0.1rem 0.2rem;
    border: 1px solid #000;
    clear: both;
}
.style_new .s2 a{
    color: #000;
}
.style_hot{
    height: 6.9rem;
    background-color: #fff;
    border-top: 6px solid #eee;
}
.style_hot h2{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 12px;
}
.style_hot .d3{
    text-align: center;
}
.style_hot .d3 img{
    width: 2rem;
    height: 2rem;
}
.style_hot .d2{
    text-align: center;
    margin-top: 30px;
}
.style_hot .s2{
    padding: 0.1rem 0.2rem;
    border: 1px solid #000;
    clear: both;
}
.style_hot .s2 a{
    color: #000;
}
.style_fasion{
    background-color: #fff;
    border-top: 6px solid #eee;
}
.style_fasion h2{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 12px;
}
.style_fasion img{
    width: 100%;
}
.style_footer{
    height: 0.9rem;
    background-color: #fff;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    position: fixed;
    bottom: 0;
}
.style_footer div{
    width:1.28rem;
    list-style: none;
    float: left;
    text-align: center;
}
.style_footer img{
    width: 0.4rem;
    height: 0.4rem; 
}
.style_footer p{
    text-align: center;
}
.style_footer a{
    color: #000;
}